* {
  all: unset; // Unsets everything so you can style everything from scratch
}

.bar {
  font-size: 14px;
  font-weight: bold;
  font-family: "JetBrainsMono Nerd Font";
  color: #cdd6f4;
}

.island {
  background-color: #11111b;
  border: 1px solid #89b4fa;
}

.logo {
  font-size: 15px;
}

.battery, .clock, .date {
  color: #b4befe;
}

.sysinfo {
  color: #fab387;
}

tooltip {
  border-radius: 4px;
  background-color: #bd93f9;
}

.workspace {
  border-bottom: 2px solid transparent;
}

.active {
  background-color: #89b4fa;
  color: #313244;
}
